In [43]:
import pandas as pd
import scipy.stats as stats
import numpy as np

In [44]:
data = pd.read_csv("socialmobility.csv")

In [45]:
data

          father           son  count
0           farm          farm    703
1           farm     unskilled   1478
2           farm       skilled   1430
3           farm  professional   1109
4      unskilled          farm     58
5      unskilled     unskilled   1756
6      unskilled       skilled   1630
7      unskilled  professional   1568
8        skilled          farm     63
9        skilled     unskilled   1453
10       skilled       skilled   2068
11       skilled  professional   2483
12  professional          farm     61
13  professional     unskilled    749
14  professional       skilled   1183
15  professional  professional   3315

In [46]:
NCATE = 4
code = data["father"].unique()
rev_code = {x:i for i,x in enumerate(code)}

In [47]:
def not_column(name):
    if name=="father":
        return "son"
    return "father"

def build_model(conditioned_on, category, data):
    prior_alphas = np.ones(NCATE)
    subdata = data[data[conditioned_on]==category]
    x = [subdata[subdata[not_column(conditioned_on)]==cate]["count"].iloc[0] for cate in code]
    post_alphas = prior_alphas + x
    post_dist = stats.dirichlet(post_alphas)
    return post_dist

In [48]:
model1 = build_model("father", "unskilled", data)
ntrials = 10000
samples = model1.rvs(ntrials)
probs = samples[:,rev_code["skilled"]]
print("The probability interval is ({},{})".format(np.percentile(probs, 2.5),np.percentile(probs, 97.5)))

The probability interval is (0.3119368530135947,0.3381727896681192)

In [49]:
model2 = build_model("son", "professional", data)
ntrials = 10000
samples = model1.rvs(ntrials)
probs = samples[:,rev_code["farm"]]
print("The probability interval is ({},{})".format(np.percentile(probs, 2.5),np.percentile(probs, 97.5)))

The probability interval is (0.008951004539251654,0.014888403974744824)